<div style=" height: 100px;"><h1 style="margin-left: 650px;">TO-DO App</h1></div>
  <div style=" width:300px; border:solid 10px black; margin-left:600px;margin-top:100px;margin-bottom:400px;">
  <h3>{{title}}</h3>

<input type="text" placeholder="Enter Task Here" #task  style="margin-left: 60px;"/><br> <br>

<button class="button1" (click)="addTask(task.value)" style="margin-left: 50px; margin-bottom:10px;">Add</button>
<br>
<ul *ngFor="let item of list">
  <div><li>{{item.name}}<button class="button1" (click)="removeTask(item.id)" >Delete</button></li></div><br>
 </ul></div>
 <div style="background-color: rgb(212, 28, 28); height: 100px;"><h4 style="margin-left: 600px;">  </h4></div>
